node_modules
.next
.cache
.env
.env.*
.git
.gitignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.log
.vscode
.idea
coverage
.nyc_output
.dockerignore
Dockerfile
docker-compose*.yml
README.md
.eslintcache
.turbo